
  <!-- search bar  -->
<div class="banner">
  <div class="container banner-container">
    <div class="search-bar">
      <div class="col-sm-8 my-3">
        <%= form_with url: cooking_classes_path, method: :get, class: "d-flex" do %>
          <div class="input-group">
            <%= text_field_tag :location,
            params[:location],
            class: "form-control",
            id: "location-input",
            placeholder: "Location" %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Keyword" %>
            <%= select_tag :category,
                options_for_select(["All"] + CookingClass::CATEGORIES, params[:category]),
                class: "form-control",
                prompt: "Category" %>
            <%= date_field_tag :start_date,
                  params[:start_date],
                  class: "form-control",
                  placeholder: "Select a starting date" %>
            <%= date_field_tag :end_date,
                  params[:end_date],
                  class: "form-control",
                  placeholder: "Select an end date" %>
            <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Class list -->
<div class="container" id="second-container">
  <div class="row" id="card-container">

    <!-- cards start-->
    <div class="col-sm-8">
    <% @cooking_classes.each do |cooking_class| %>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card">
        <img src="<%= asset_path('Ramen-japonais.jpg') %>" alt="<%= cooking_class.title %>" class="card-img-top">
          <div class="card-content">
            <h3><%= cooking_class.title.truncate(30) %></h3>
            <% city = cooking_class.address.split(',').last.strip %>
            <p class="location"><i class="fas fa-map-marker-alt"></i> <%= city %></p>
            <p class="date"><%= cooking_class.date.strftime('%d %b') %></p>
            <!--p class="description"><%= cooking_class.description %></p-->
            <p class="price">
              <strong><%= number_to_currency(cooking_class.price, unit: "€") %></strong> per person
            </p>
            <a href="<%= cooking_class_path(cooking_class) %>" class="btn-primary mt-3">See More</a>
          </div>
        </div>
      </div>
    <% end %>
    </div>
     <div class="col-sm-4">
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

     </div>
  </div>
</div>
