<div class="container">

  <h2 class="page-title">My Cooking Classes</h1>
  <div class="d-flex justify-content-between align-items-center mb-3">
  </div>
  <p class="page-description">Your teaching hub! View and edit your upcoming classes or create something new for aspiring chefs.</p>

  <% if @cooking_classes.any? %>
    <div class="row" id="card-container">
      <% @cooking_classes.each do |cooking_class| %>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card">
          <img src="<%= asset_path('Ramen-japonais.jpg') %>" alt="<%= cooking_class.title %>" class="card-img-top">
            <div class="card-content">
              <h3 class="card-title"><%= cooking_class.title %></h3>
              <p class="description"><%= cooking_class.description %></p>
              <p class="price"><strong>Price:</strong> $<%= cooking_class.price %></p>
              <p class="date"><strong>Date:</strong> <%= cooking_class.date %></p>
              <p class="time"><strong>Time:</strong> <%= cooking_class.time.strftime("%I:%M %p") %></p>
              <p class="bookings"><strong>Number of Bookings:</strong> <%= cooking_class.bookings.count %></p>
              <a href="<%= edit_cooking_class_path(cooking_class) %>" class="btn btn-create-edit">Edit</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>You haven't created any cooking classes yet.</p>
    <%= link_to "Create a New Cooking Class", new_cooking_class_path, class: "btn btn-create-edit mt-4" %>
  <% end %>
</div>
