<div class="container">
<h1>My Cooking Classes</h1>

<% if @cooking_classes.any? %>
  <% @cooking_classes.each do |cooking_class| %>
    <div class="cooking-class">
      <h2><%= cooking_class.title %></h2>
      <p><%= cooking_class.description %></p>
      <p><strong>Price:</strong> $<%= cooking_class.price %></p>
      <p><strong>Date:</strong> <%= cooking_class.date %></p>
      <p><strong>Time:</strong> <%= cooking_class.time.strftime("%I:%M %p") %></p>
      <%= form_with url: cooking_class_path(cooking_class), method: :delete, data: { turbo_confirm: "Are you sure you want to delete this class?" }, class: "d-inline" do %>
        <%= submit_tag "Delete", class: "btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>You haven't created any cooking classes yet.</p>
  <%= link_to "Create a New Cooking Class", new_cooking_class_path, class: "btn btn-success" %>
<% end %>

</div>
