<h1><%= @cooking_class.title%></h1>
<p><%= @cooking_class.description%></p>
<p><%= @cooking_class.price%></p>
<p><%= @cooking_class.address%></p>
<p><%= @cooking_class.date%></p>
<p><%= @cooking_class.time%></p>
<p><%= @cooking_class.capacity%></p>
<p><%= @cooking_class.user.first_name%> <%= @cooking_class.user.last_name%></p>
<%

=begin%>

title: Faker::Educator.course_name,
    description: Faker::Lorem.paragraph(sentence_count: 3),
    price: Faker::Commerce.price(range: 10..50),
    address: Faker::Address.full_address,
    date: Faker::Date.forward(days: 30),
    time: Faker::Time.forward(days: 30, period: :evening),
    capacity: Faker::Number.between(from: 5, to: 50),
    user: users.sample
<%
=end%>


 <!-- Booking FORM -->
<div class="booking container">
  <h4>Book this Class</h4>
  <%= form_with url: bookings_path, method: :post, local: true do |form| %>
    <%= form.hidden_field :cooking_class_id, value: @cooking_class.id %>

    <div>
      <%= form.label :date, "Event Date" %>
      <%= form.date_field :date, value: @cooking_class.date.strftime('%Y-%m-%d') %>
    </div>

    <div>
      <%= form.label :participants, "Number of Participants"%>
      <%= form.number_field :participants%>
    </div>

    <div>
    <%= form.submit "Confirm Booking"%>
    </div>
  <% end %>
</div>
