<div class="cooking-class-show">
  <div class="container">
    <div class="title-bar" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
      <h1 style="margin: 0;"><%= @cooking_class.title %></h1>
      <%= link_to "Back to Classes", cooking_classes_path, class: "btn btn-back-overview", style: "text-decoration: none;" %>
    </div>

    <% if @cooking_class.photo.attached? %>
      <div class="class-photo">
        <%= image_tag @cooking_class.photo, alt: @cooking_class.title, class: "img-fluid" %>
      </div>
    <% end %>
  </div>

  <div class="container">
    <div class="details">
      <p><strong>Category:</strong> <%= @cooking_class.category %></p>
      <p><strong>Description: </strong><%= @cooking_class.description%></p>
      <p><strong>Price:</strong> <%= @cooking_class.price%></p>
      <p><strong>Address:</strong> <%= @cooking_class.address%></p>
      <p><strong>Date:</strong> <%= @cooking_class.date%></p>
      <p><strong>Time:</strong> <%= @cooking_class.time.strftime("%H:%M %Z") %></p>
      <p><strong>Capacity:</strong> <%= @cooking_class.capacity%></p>
      <p><strong>Chef:</strong> <%= @cooking_class.user.first_name%> <%= @cooking_class.user.last_name%></p>

      <% if current_user == @cooking_class.user %>
        <%= link_to "Edit", edit_cooking_class_path(@cooking_class), class: "btn btn-create-edit" %>
      <% end %>
    </div>

    <div class="booking-container">
      <% if user_signed_in? && current_user.bookings.exists?(cooking_class: @cooking_class) %>
        <div class="alert alert-info">
          <p>You have already booked this class.</p>

          <%= form_with url: cancel_booking_cooking_class_path(@cooking_class), method: :delete, class: "d-inline" do %>
            <%= submit_tag "Cancel Booking", class: "btn btn-delete-cancel" %>

          <% end %>
        </div>
      <% elsif @available_spots > 0 %>

          <h4>Book this Class</h4>
          <%= form_with url: book_cooking_class_path(@cooking_class), method: :post, local: true do |form| %>
            <!-- Participants -->
            <div style="margin-bottom: 15px;">
              <%= form.label :participants%>
              <%= form.number_field :participants, value: 1, min: 1, max: @cooking_class.capacity, class: "form-control" %>
            </div>

            <!--  Price -->
            <div>
              <label for="total_price">Price Per Participant</label>
              <input type="text" id="total_price" readonly value="<%= number_to_currency(@cooking_class.price, unit: '€') %>">
            </div>

            <!-- Submit Button -->
              <% if user_signed_in? %>
                <%= form.submit "Confirm Booking", class: "btn btn-book" %>
              <% else %>
                <%= link_to "Login to Book", new_user_session_path, class: "btn btn-login" %>
              <% end %>
          <% end %>
      <% else %>
        <div class="alert alert-warning">
          <p>This class is fully booked.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
